
Build/*
Athena-Editor/Assets/Scripts/Build/*

Athena/EngineResources/Cache/
Athena-Editor/Screenshots/

# Exclude ScriptsLibrary.dll
!Athena-Editor/Assets/Scripts/Build/Binaries/
Athena-Editor/Assets/Scripts/Build/Binaries/*
!Athena-Editor/Assets/Scripts/Build/Binaries/ScriptsLibrary/
Athena-Editor/Assets/Scripts/Build/Binaries/ScriptsLibrary/*
!Athena-Editor/Assets/Scripts/Build/Binaries/ScriptsLibrary/ScriptsLibrary.dll
!Athena-Editor/Assets/Scripts/Build/Binaries/ScriptsLibrary/ScriptsLibrary-d.dll

*.log
*.rsp

.vs/
.vscode/
.idea/
